{% extends "_base.html" %}

{% block title %}
	<title>Promova seu portfolio, aumente a visibilidade do seu trabalho e conquiste mais clientes - Ek Foto</title>
{% endblock %}

{% block header-middle %}
	<p class="phrase">Fotografia & Inspiração para seu Casamento</p>
	<div class="info">Ek Foto é sinônimo de <strong>últimas tendências</strong> em fotografia para seu momento único, uma <strong>fonte de inspiração</strong> com nossa seleção especial de fotógrafos e suas fotos que falam por si proprio.</div>
{% endblock %}
{% block header-right %}
<!-- Just on homepage -->
<div class="dd-locations btn-group btn-small">
	<a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
		Procure por região
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">SP</a></li>
		<li><a href="#">RJ</a></li>
		<li><a href="#">RS</a></li>
		<li><a href="#">SC</a></li>				
	</ul>
</div>			
{% endblock %}

{% block content %}
<div class="row-fluid span12">
	<div class="row-fluid span6 column-photos-1">
		<div class="border-white crop-small-main shadow">
			<div class="overlay-black">
				<div class="photo-footer">
					<div class="view-gallery-link round"><i class="icon-th icon-white"></i>  Abrir galeria de <span>Normal Leal</span></div>
				</div>				
			</div>			
			<a href="#"><img class="" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/wedding.jpg"></a>
			<!--div class="label-overlay">
				<p class="title">Emoção</p>
				<span>Confira nossa seleção de fotógrafos de casamento!</span>
			</div-->
			<div class="bottom-bar show-grid">
				<i class="icon-star-empty"></i> foto por <i>Rafael Oshiro</i>
			</div>
		</div>
		<div class="border-white crop-small-main shadow">
			<div class="overlay-black">
				<div class="photo-footer">
					<div class="view-gallery-link round"><i class="icon-th icon-white"></i>  Abrir galeria de <span>Normal Leal</span></div>
				</div>				
			</div>			
			<a href="#"><img class="" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/birthday.jpeg"/></a>
			<div class="bottom-bar show-grid">
				<i class="icon-star-empty"></i> foto por <i>New Star</i>
			</div>
		</div>
	</div>
	<div class="">
		<div class="border-white crop-2-vertical shadow">
			<div class="overlay-black">
				<div class="photo-footer">
					<div class="view-gallery-link round"><p><i class="icon-th icon-white"></i>   Abrir galeria de <span>Normal Leal</span></p></div>
				</div>				
			</div>
			<a href="#"><img src="http://commondatastorage.googleapis.com/ekfotoco/prototype/pregnancy.jpeg" class="" /></a>
			<!--div class="label-overlay">
				<p class="title">Momento Único</p>
				<span>Um momento como esse deve ser registrado</span>
			</div-->	
			<div class="bottom-bar show-grid">
				<i class="icon-star-empty"></i> foto por <i>Normal Leal</i>
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="highlight-title">Nossa seleção</div>
</div>
<div class="show-grid highlight-wrapper">
	<div class="span6 highlight">
		<div id="myCarousel" class="carousel slide">
		  <div class="carousel-inner crop-highlights shadow">
		    <div class="active item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/fashion-1.jpeg"></div>
		    <div class="item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/fashion-2.jpeg"></div>
		  </div>
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	<div class="span6 highlight">
		<div id="myCarousel2" class="carousel slide">
		  <div class="carousel-inner crop-highlights shadow">
		    <div class="active item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/jornalism.jpeg"></div>
		    <div class="item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/jornalism-2.jpg"></div>		
		  </div>
		  <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
		</div>
	</div>	
</div>
<div class="show-grid">
	<div class="span6 highlight">
		<div id="myCarousel3" class="carousel slide">
		  <div class="carousel-inner crop-highlights shadow">
		    <div class="active item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/portrait-1.jpeg"></div>
		    <div class="item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/portrait-2.jpeg"></div>		
		  </div>
		  <a class="carousel-control left" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel3" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	<div class="span6 highlight">
		<div id="myCarousel4" class="carousel slide">
		  <div class="carousel-inner crop-highlights shadow">
		    <div class="active item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/baby-2.jpg"></div>			
		    <div class="item"><img class="img-rounded" src="http://commondatastorage.googleapis.com/ekfotoco/prototype/baby-1.jpeg"></div>
		  </div>
		  <a class="carousel-control left" href="#myCarousel4" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel4" data-slide="next">&rsaquo;</a>
		</div>
	</div>	
</div>
{% endblock %}

{% block extrascripts %}
<script>myapp.init.homePage();</script>
{% endblock %}
