<div class="offset2" portfolioid="{{ portfolio.key.id }}">
	<ul class="thumbnails">
		<li class="span8">
			<div class="thumbnail round shadow">
				<a href="/portfolio/{{ portfolio.key.id }}">
					{% if p.cover %}
					{% else %}
						<img class="img-rounded" src="/serve/{{ portfolio.cover }}?width=628&height=182&quality=70">
					{% endif %}
				</a>
				<div class="label-overlay">
					<p class="title">{{ portfolio.name }}</p>
				</div>					
			</div>
			<div class="controls">
				<span class="span2"><button portfolioid="{{ portfolio.key.id }}" class="btn btn-see btn-link btn-small"><i class="icon-th"></i> Ver</button><span class="label label-info">{{ portfolio.photos|length }} fotos</span></span>
				<span class="span2"><button portfolioid="{{ portfolio.key.id }}" class="btn btn-delete btn-link btn-small"><i class="icon-remove"></i> Excluir...</button></span>
				<span class="span2"><button portfolioid="{{ portfolio.key.id }}" class="btn btn-edit btn-link btn-small"><i class="icon-edit"></i> Editar...</button></span>
			</div>				
		</li>
	</ul>
</div>
