<p class="title">Portfolio 
	{% if isMyPage %}
		{% if showUpgradeMessage %}
			<a id="btn-upgrade" href="/upgrade/{{loggedInUser.username}}" class="btn btn-link btn-small trackable" action="profile" label="upgrade" type="button">
				Crie mais portfolios por apenas <strong>R$8,00 por mês</strong>
			</a>
		{% else %}
		<button id="btn-new-portfolio" class="btn btn-link btn-small trackable" action="profile" label="create-portfolio-link" type="button">
			<i class=" icon-plus-sign"></i> Novo portfólio 
		</button>
		{% endif %}
	{% endif %}
</p>
