{% extends "_baseapp.html" %}

{% block title %}
	<title>Meu perfil</title>
{% endblock %}

{% block extracss %}
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="/stylesheets/fileuploader.css">
{% endblock %}

{% block content %}
<div class="row-fluid user-details">
	<div class="span2 profile-photo-wrapper">
		<img src="{{ user.avatar_thumb }}?type=large" class="img-polaroid" width="100px">
	</div>
	<div class="span6 user-info">
		<div class="" rel="tootip">
			<h3 class="hide-on-edit"><i><span id="user-name">{{ user.name }}</span></i></h3>
		</div>
		<p class="description">
			<span id="user-about">
			{% if user.about %}
				{{ user.about }}
			{% else %}
				<small>Um pouco sobre você aqui...</small>
			{% endif %}
			</span>
		</p>
		<p class="website">
			{% if user.website %}
				<a id="user-website" href="http://www.oshiwall.com/" target="_blank">{{ user.website }}</a>
			{% else %}
				<small>Seu website aqui...</small>
			{% endif %}
		</p>
		<!--div class="row-fluid">
			<div class="span1 facebook-icon"></div>
			<div class="span1 twitter-icon"></div>
			<div class="span1 pinterest-icon"></div>
		</div-->
	</div>
	<div class="contact-wrapper span4">
		<button class="btn btn-large btn btn-warning btn-contact-me" type="button">Entre em Contato  <i class="icon-white icon-comment"></i></button>
	</div>
</div>
<div class="portfolio-wrapper">
	<p class="title">Portfolio 
		{% if loggedInUser %}
			<button id="btn-new-portfolio" class="btn btn-link btn-small" type="button"><i class=" icon-plus-sign"></i> Novo portfólio</button>
		{% endif %}
	</p>
	{% if user.newuser %}
	<div class="alert alert-block welcome-message">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<h4>Bem-Vindo!</h4>
		Você ainda não criou nenhum portfolio, comece clicando no botão acima.
	</div>
	{% endif %}
	{% for p in portfolios %}
	<div class="offset2" portfolioid="{{ p.key.id }}">
		<ul class="thumbnails">
			<li class="span8 shadow">
				<div class="thumbnail round">
					<a class="cover" href="/portfolio/{{ p.key.id }}">
						{% if p.cover %}
							<img class="img-rounded" src="/serve/{{ p.cover }}?width=628&height=182&quality=70">
						{% else %}
							
						{% endif %}
					</a>
					<div class="label-overlay">
						<p class="title">{{ p.name }}</p>
					</div>					
				</div>
				<div class="controls">
					<span class="span2"><button portfolioid="{{ p.key.id }}" class="btn btn-see btn-link btn-small"><i class="icon-th"></i> Ver</button> <span class="label label-info">{{ p.photos|length }} fotos</span></span>
					{% if loggedInUser %}
						<span class="span2"><button portfolioid="{{ p.key.id }}" class="btn btn-delete btn-link btn-small"><i class="icon-remove"></i> Excluir</button></span>
						<span class="span2"><button portfolioid="{{ p.key.id }}" class="btn btn-edit btn-link btn-small"><i class="icon-edit"></i> Editar...</button></span>
					{% endif %}
				</div>				
			</li>
		</ul>
	</div>
	{% endfor %}
</div>
<div id="partial-add-photos"></div>
<div id="contactModal" class="modal hide fade">
	<div class="modal-header">
	    <h3>{{ user.name }}</h3>
	</div>	
	<div class="modal-body">
		<p><i class="icon-envelope"></i> <span class="email">{{ user.email }}</span></p>
		<p><i class="icon-map-marker"></i> <span class="address">{{ user.address }}</span></p>
		<p><i class="icon-bell"></i> <span class="phone">{{ user.phone }}</span></p>
	</div>
	<div class="modal-footer">
	    <a href="#" class="btn close-modal">Fechar</a>
	</div>	
</div>
<div id="partials"></div>

<!--
- Mensagem de como iniciar para primeiro acesso
- Iniciar portfólio em destaque
- Aviso de Preencher perfil
- Menu no topo
- Campo para pesquisa de outros fotógrafos no topo
- Mensagem de update para plano pago
- Mensagem que o plano está expirando? (Basecamp não faz isso)
- Campo para feedback!! -->
{% endblock %}

{% block extrascripts %}
<script>myapp.init.profilePage();</script>
{% endblock %}
