{% extends "_base.html" %}

{% block title %}
	<title>Meu perfil</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="span3">User info</div>
		- Mensagem de como iniciar para primeiro acesso
		- Iniciar portfólio em destaque
		- Aviso de Preencher perfil
		- Menu no topo
		- Campo para pesquisa de outros fotógrafos no topo
		- Mensagem de update para plano pago
		- Mensagem que o plano está expirando? (Basecamp não faz isso)
		- Campo para feedback!!
	</div>
</div>
{% endblock %}

{% block extrascripts %}
{% endblock %}
