{% extends "_baseapp.html" %}

{% block title %}
	<title>Fotógrafos de Casamento</title>
{% endblock %}

{% block content %}
<div class="row-fluid title-search">
	<h2>Fotógrafos de Casamento</h2>
</div>
<div class="row">
	{% for u in users %}
	<div class="row span8 search-listing">
		<div class="span1">
			<a href="/photos/{{ u.username }}"><img class="img-circle" src="{{ u.avatar_thumb }}"></a>
		</div>
		<div class="span6">
			<p class="name"><a href="/photos/{{ u.username }}">{{ u.name }}</a>  <span class="location">{{ u.location }}</span></p> 
			<span class="desc">{{ u.about }}</span>
			<!--p class="more-info">
				<i class="icon-camera"></i> 5 Portfolios, 60 Fotos
			</p-->
		</div>
	</div>
	{% endfor %}
	{% if not users %}
	<div class="row show-grid">
		<div class="alert span8 offset2">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Hmmm!</strong> Nenhum fotógrafo encontrado
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block extrascripts %}
<script>myapp.init.searchPage();</script>
{% endblock %}
