{% extends "_base.html" %}

{% block title %}
	<title>Faça parte do Ek Foto agora!</title>
{% endblock %}

{% block content %}
<div class="signup">
	<center>
	<h1 class="title">Para Fotógrafos</h1>
	<h3>Seu portfolio em <span>menos de 1 minuto</span> e sem pagar nada por isso!</h3>
	<p class="span6 offset3">Crie um perfil conosco e alcance as pessoas certas. O público do Ek Foto está procurando por fotógrafos de casamento,  conecte-se e prepare-se para uma agenda cheia de compromissos.</p>
	</center>
	<div class="row show-grid">
	<div class="span7 offset3" id="facebook-button">
		<center>			
		<a id="btn-login-facebook" class="facebook-login-button serveFacebook" href="https://www.facebook.com/dialog/oauth?client_id={{ faceAppId }}&redirect_uri={{ faceRedirectUrl }}&scope=email,user_location&state=signup">
			<div id="serveFacebook" class="serveFacebook-fill">
			  <img alt="Servefacebook" src="/images/serveFacebook.png">
			  <h1><b>Conecte-se</b> com <b>Facebook</b></h1>
			</div>
			<img id="Servefacebook_loader" alt="Servefacebook_loader" class="serveLoading serveLoading-Facebook" src="/images/serveFacebook_loader.gif" style="display:none">
		</a>
		</center>
	</div>
	</div>
</div>	
{% endblock %}

{% block extrascripts %}
<script>myapp.init.signup1();</script>
{% endblock %}
