{% extends "_base.html" %}

{% block title %}
	<title>Obrigado por escolher o Ek Foto!</title>
{% endblock %}

{% block content %}
<div class="row show-grid">
	<div class="span7 offset3">
		<center>
		<h2>Obrigado por escolher Ek Foto!</h2>
		<div class="thanks-copy">Você está prestes a criar um portfolio de qualidade e que será encontrado por diversas pessoas que buscam fotógrafos diariamente na web. Compartilhe seu perfil com seu amigos e aumente seu marketing na internet com o Ek Foto.</div>
		<br>
		<p>
			<button class="btn btn-large btn-success btn-confirm-signup" type="button">Clique aqui para começar <i class="icon-white icon-hand-right"></i></button>
		</p>
		</center>
	</div>
</div>
{% endblock %}

{% block extrascripts %}
<script>myapp.init.signupConfirmartion();</script>
{% endblock %}
