/***************************************************
 BASIC 
 ***************************************************/
html{
	min-height:100%;
}
html, body {
	height: 100%;
}
body.landing {
	background:white;
	background-image:url('/images/background.jpg');
	background-repeat:no-repeat;
	/*background-attachment:fixed;*/ 
	background-top: 0px;
	background-position:right top;	
	font-family: sans-serif; 
	color: #303030;
}
.bg1 {background: url('/images/wbackground.jpeg') repeat; }
.bg2 {background: url('/images/bgnoise.gif') repeat; }
h1, h2, h3, h4, h5 {margin: 4px 0; padding: 0;font-style: normal;color: #303030;}
a {text-decoration: none; cursor: pointer;}
.text-justify {text-align: justify;}
button.btn-link {color: #505050;}
.twitter-icon {
	background: url('/images/sprite.png') no-repeat -243px -8px;
	width: 25px;
	height: 24px;
}
.facebook-icon {
	background: url('/images/sprite.png') no-repeat -245px -54px;
	width: 24px;
	height: 24px;
}
.pinterest-icon {
	background: url('/images/sprite.png') no-repeat -244px -99px;
	width: 25px;
	height: 25px;
}
.feedback {
	background: url('/images/sprite.png') no-repeat -5px -7px;
	width: 40px;
	height: 136px;
	position: absolute;
	right: 0px;
	top: 50%;
	cursor: pointer;
}
.feedback:hover {
	background: url('/images/sprite.png') no-repeat -51px -7px;
	width: 40px;
	height: 136px;
}
.non-logged .signup-link a {
	color: darkGoldenrod;
	font-size: 12px;
	padding: 5px;
}
.non-logged .signup-link a:visited {color: darkGoldenrod;}

/* Styles for photo handling on home page */
.photos-main {position: relative;}
.photo-left img {height: 574px;}
.photo-right {margin-left: 34px; margin-bottom: 13px;}
ul.main {padding-left: 20px;}
.crop-small-main { width: 468px; height: 294px; margin: 0 6px 8px 0; overflow: hidden; position: relative;}
.crop-small-main img { width: 100%; }
.crop-2-vertical { margin-bottom: 6px; overflow: hidden; position: relative;}
div.border-white {border: 3px solid white;}
div.border-white:hover {border: 3px solid lightblue;}

.highlight-wrapper {padding-left: 6px;}
.highlight-title {
	font-family: Niconne, cursive;
	font-size: 43px;
	clear: both;
	height: 50px;
	padding-top: 26px;
	text-align: center;
	line-height: 55px;
}

.bottom-bar {
	z-index: 999;
	bottom: 0;
	padding: 5px;
	font-size: 12px;
	color: #787878;
	line-height: 12px;
}

.crop-small-main .photo-footer,
.crop-2-vertical .photo-footer {
	position: absolute;
	bottom: 0;
	padding: 10px;
	z-index: 7;
	color: black;
	font-size: 11px;
	cursor: pointer;
}
.view-gallery-link {padding: 5px; color: white;}
.view-gallery-link span {font-weight: bold; font-style: oblique; cursor: pointer;}
.crop-highlights {width: 453px; height: 245px; overflow: hidden; position: relative;}
.crop-highlights img { width: 100%; }
.overlay-black {
	background-image:url('/images/black-alpha.png');
	background-repeat: repeat;
	width: 100%;
	height: 100px;
	z-index: 3;
	position: absolute;
	display: none;
	cursor: pointer;
}
.overlay-black:hover {display: none;}
.label-overlay {
	position: absolute;
	padding: 8px;
	bottom: 27%;
	right: 0;
	font-family: 'Times new roman';
	background-image:url('/images/white-alpha.png');
	background-repeat:repeat;	
	background-color: transparent;
}
.label-overlay .title {
	font-family: serif;
	font-size: 28px;
	font-style: oblique;
	font-weight: bold;
}
.highlight span {
	font-family: 'Open Sans', serif;
	font-weight: bold;
	font-style: oblique;
	font-size: 20px;
}
.more-to-come {
	height: 190px;
}
/*
	Profile Page
*/
.btn-contact-me {margin-top: 15px;}
.contact-wrapper {text-align: right;}
.contact-label {font-style: italic; font-size: 12px; text-align: center; width: 104px;}
.profile-photo-wrapper {padding-top: 15px; text-align: center;}
.portfolio-wrapper {margin-top: 40px;}
.portfolio-wrapper a {cursor: pointer;}
.portfolio-wrapper .title {font-size: 25px; font-weight: 300; margin: 5px 0 25px 0; text-align: center;}
.portfolio-wrapper .crop { width: 620px; height: 174px; overflow: hidden; position: relative;}
.portfolio-wrapper .crop img {width: 100%; margin-top: -10%;}
.portfolio-wrapper .thumbnail {border: none; position: relative;}
.portfolio-wrapper .controls {
	height: 20px;
	margin-left: 4px;
}
.portfolio-wrapper .controls span {text-align: center;}
.upload-area {border: 1px dashed lightgrey; padding: 5px; background-color: lightyellow; text-align: center;}
.fileinput-button {position: relative; overflow: hidden;}
.fileinput-button .hidden-file-input {position: absolute; opacity: 0; top: 0; border-width: 0 0 100px 200px; cursor: pointer; margin: 0; right: 0;}
#contactModal .name {color: darkcyan;}
#portfolioModal {display: none; width: 500px;}
#portfolioModal .img-list {margin: 10px 0; min-height: 355px;}
#portfolioModal .img-preview-wrapper {padding: 5px 0; margin-left: 5px; border-bottom: 1px solid lightGrey; font-size: 12px;}
#portfolioModal .img-preview-wrapper:last-child {border-bottom: none;}
#user-edit-link {position: absolute; right: 0;}
#portfolio-carousel .carousel-inner .item img {margin: auto;}

/* Portfolio Edit */
.portfolio-edit .item {position: relative;}
.portfolio-edit .item .btn-delete {display: none;}
.portfolio-edit .item:hover .btn-delete {position: absolute; bottom: 0; display: block;}

.location-wrapper {
	background-color: white;
	padding: 10px;
	font-size: 12px;
	text-align: center;
}
.map-wrapper {
	padding-bottom: 10px;
}

.user-info {position: relative;}

body.home,
body.app {
	font-family: Helvetica, Arial, serif;
	font-weight: 400;
}
.home #header,
.app #header {position: relative; margin-bottom: 20px;}
.home .right-header {
	position: absolute;
	right: 0;	
}
.header-logo, .home .header-logo {margin: 50px 0 10px 0px;}
.dd-locations {
	position: relative;
	top: 20px;
	right: 0;
	float: right;
}
.app .header-logo {margin: 10px 0 10px 0px; width: 110px;}
.home .top-slogan {margin: 25px 0 0 55px;}
.home .top-slogan .phrase {font-family: Niconne, cursive; font-size: 33px;}
.home .top-slogan .info {
	font-style: italic;
	font-family: serif;
	color: #909090;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	width: 500px;
	line-height: 23px;
}
#main-content {
	background-color: white;
	padding: 15px;
}
.facebook-likes-home {
	margin-left: 300px;
}
/*
	Search Page
*/
.search-label-wrapper {margin-bottom: 20px;}
.search-listing  {border-bottom: 1px dashed lightGrey; padding: 15px 0 15px 14px;}
.search-listing:hover {background-color: lightyellow; }
.search-listing img {position: relative; width: 70px;}
.search-listing .name {font-weight: bold; font-size: 22px;}
.search-listing .desc {font-style: italic; font-size: 12px; color: grey;}
.search-listing .location {color: grey; font-size: 12px; font-weight: normal;}
.more-info {font-size:12px; color: grey; margin-top: 10px;}

#content {min-height: 100%; height: 100%; height: auto !important; width: 960px; margin: auto; margin-bottom: -60px;}
.app #content {margin-bottom: 0;}

.headline-landing {
	font-family: 'Droid Serif', sans-serif; 
	font-size: 32px;
	font-weight: 600;
	line-height: 45px;
	color: #393930;
	margin: auto;
	margin-top: 50px;
	text-shadow: 0px 1px 7px white; 
}
.main-home {padding-left: 23px;}
.headline-landing span {
	font-style: italic;
	color: black;
}
#region-search {
	width: 150px;
}
#photo-type-search {
}
.see-portfolio-btn {
	position: absolute;
	background-color: red;
	color: white;
	padding: 10px;
	width: 96px;
}
.headline-2 {
	background-image:url('/images/headline-2.png');
	background-repeat:no-repeat;
	background-color: transparent;
	margin-top: 25px;
	height: 50px;
}

#slogan-text {height: 350px; margin-top: 35px; background-color: #F8F8F8;}
#facebook-button {padding-top: 45px}

#main-search-bar {
	background-color: lightgrey;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;	
	width: 940px;
	margin: auto;	
}

div.logout {margin: 0 25px;}
.home .controls-header,
.app .controls-header {
	text-align: right;
	margin-right: 12px;
	font-weight: bold;
	background-color: white;
	padding: 0px 10px 2px 1px;
}
.home .controls-header a,
.app div.controls-header a {margin-left: 5px; color: black; font-size: 12px}
div.logout a {color: black;}
div.arrow {
	position: relative;
	left: 56px;
	top: -7px;	
	height: 50px;
	width: 503px;	
}
.second-headline {
	font-family: 'Droid Serif', sans-serif;
	font-style: italic;
}
.fb-like-landing {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.date{font-family: Helvetica, Arial, sans-serif; font-size:11px;color:gray}
a.username{font-family: Helvetica, Arial, sans-serif; font-size:11px;color:#AF1116}
a.username:hover{color:#333333}
a.share-btn-open{font-family: Helvetica, Arial, sans-serif; font-size:11px;color:#08C;cursor:pointer;}
.share-service-button .share-service-icon{
	background-image: url('/images/share-icons.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
	margin: 0 5px;
}
.share-service-icon-twitter{background-position:0 -52px}
.share-service-icon-facebook{background-position:0 -881px}
.font1 {font-family: 'Oleo Script', serif;}
.left{float:left}
.right{float:right}
.overflow{overflow:auto}
.cb {clear: both;}
.small {font-size: 12px; color: gray;}
.gray {color: gray}
.link-inherit-color {color: inherit;}
.displayblock{display:block !important}
.displayinline{display:inline !important}
.shadow_header {
	-moz-box-shadow: 1px -2px 8px #888;
	-webkit-box-shadow: 1px -2px 8px #888;
	box-shadow: 1px -2px 8px #888;
}

.shadow {
	-moz-box-shadow: 1px 3px 4px #D8D8D8;
	-webkit-box-shadow: 1px 3px 4px #D8D8D8;
	box-shadow: 1px 3px 4px #D8D8D8;
}
.shadow2 {
	-moz-box-shadow: 0px 0px 3px #D8D8D8;
	-webkit-box-shadow: 0px 0px 3px #D8D8D8;
	box-shadow: 0px 0px 3px #D8D8D8;
}

body span.messageholder {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border: 1px solid transparent;
	background-color: #8DD35F;
	color: white;
	font-size: 13px;
	font-weight: bold;
	height: 22px;
	left: -48px;
	overflow: hidden;
	padding-top: 3px;
	position: absolute;
	text-align: center;
	top: 38px;
	width: 198px;
	z-index: 2;
}

.round {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; /* future proofing */
	-khtml-border-radius: 8px; /* for old Konqueror browsers */
}
.separator-home {
	margin: 60px 0 40px 0;
	color: lightgrey;	
}
.separator-landing {
	margin: 60px 0 80px 0;
	color: lightgrey;
}

.wider-step { width: 103%; }

.blue-bkg {
	background-image:url('/images/rectangle-blue.png');
	background-repeat:no-repeat;
	background-top: 0px;	
}

.yellow-bkg {
	background-image:url('/images/rectangle-yellow.png');
	background-repeat:no-repeat;
	background-top: 0px;	
}

.steps {
	position: relative;
	height: 200px;
	margin: 50px 0;
}
.steps .step1 {
	position: relative;
	background: url('/images/sprite-steps.png') no-repeat -115px 0;	
	width: 82px;
	height: 91px;	
}
.steps .step2 {
	position: relative;
	margin-top: 10px;
	background: url('/images/sprite-steps.png') no-repeat -230px -3px;	
	width: 83px;
	height: 81px;
}
.steps .step3 {
	position: relative;
	margin-top: 10px;	
	background: url('/images/sprite-steps.png') no-repeat 0 -2px;	
	width: 83px;
	height: 81px;
}

.steps .step1-1 {
	position: relative;
	background: url('/images/sprite-steps-1.png') no-repeat 0 0; 
	width: 73px; 
	height: 73px;
}
.steps .step2-1 {
	position: relative;
	margin-top: 10px;
	background: url('/images/sprite-steps-1.png') no-repeat -122px 0;
	width: 71px; 
	height: 71px;
}
.steps .step3-1 {
	position: relative;
	margin-top: 10px;	
	background: url('/images/sprite-steps-1.png') no-repeat -257px 0; 
	width: 78px; 
	height: 74px;
}

.steps h3.orange {color: #F60;}
.steps h3.pink {color: #F69;}
.steps h3.blue {color: #06C;}


input, textarea {-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; padding:7px; font-size:14px;}
ul {list-style-type: none;}
li {list-style-type: none;}

.separator {
	background-image:url('/images/dotted-separator.png');
	background-repeat:no-repeat;
	margin: 20px 0;
	width: 256px;
	height: 1px;	
	clear: both;
}

.thanks-copy {
	text-align: justify;
}

/* Footer */
#footer .copyright {bottom: 10px;}
#footer {
	clear: both;
	background-color: lightblue;
	color: #606060;
	height: 40px;
	padding: 10px;
	font-size: 12px;
}

#alert_placeholder .alert.warning {background-color: #FDD017; border: 1px solid #EAC117; display: inline;}
#alert_placeholder .alert.success {background-color: #4AA02C; border: 1px solid #4CC552; display: inline;}
#alert_placeholder .alert.error {background-color: #E42217; border: 1px solid Tomato; display: inline;}
#alert_placeholder .alert .close {float: right; padding: 5px;}


a.serveFacebook {display:block; position:relative; width:298px; margin-bottom:15px; margin-top:0px; margin-left:0px; margin-right:0px; padding:0px; text-decoration:none; border:solid 1px #3B5998; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow: 0px 2px 3px #CCC; -moz-box-shadow: 0px 2px 3px #CCC; -webkit-box-shadow: 0px 2px 3px #CCC}
a.serveFacebook:hover {text-decoration:none}
.serveFacebook-fill {display:block; width:296px; margin:0px; padding:0px; border:solid 1px #97A7C8; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background: #6a79ae; background: -moz-linear-gradient(top, #6a79ae 0%, #4d5c9b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a79ae), color-stop(100%,#4d5c9b)); background: -webkit-linear-gradient(top, #6a79ae 0%,#4d5c9b 100%); background: -o-linear-gradient(top, #6a79ae 0%,#4d5c9b 100%); background: -ms-linear-gradient(top, #6a79ae 0%,#4d5c9b 100%); background: linear-gradient(top, #6a79ae 0%,#4d5c9b 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a79ae', endColorstr='#4d5c9b',GradientType=0 )}
.serveFacebook-fill:hover {background: #7a8cc9; background: -moz-linear-gradient(top, #7a8cc9 0%, #586ab3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a8cc9), color-stop(100%,#586ab3)); background: -webkit-linear-gradient(top, #7a8cc9 0%,#586ab3 100%); background: -o-linear-gradient(top, #7a8cc9 0%,#586ab3 100%); background: -ms-linear-gradient(top, #7a8cc9 0%,#586ab3 100%); background: linear-gradient(top, #7a8cc9 0%,#586ab3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a8cc9', endColorstr='#586ab3',GradientType=0 )}
.serveFacebook-fill:active {background:#7C8ECA}
.serveFacebook-fill h1 {display:block; width:238px; margin-left:38px; margin-right:0px; margin-top:0px; margin-bottom:0px; padding-left:12px; padding-right:10px; padding-bottom:8px; padding-top:8px; font-size:16px; line-height:20px; color:#FFF; font-weight:normal; text-shadow: #3B446A 0px 0px 2px; background:repeat-y left top url(/images/serveFacebook.gif); cursor:pointer}
.serveFacebook-fill img {display:block; width:24px; height:24px; position:absolute; margin-top:-12px; margin-bottom:0px; margin-left:0px; margin-right:0px; padding:0px; border:none; left:7px; top:50%}
.serveFacebook-fill_active {background:#7C8ECA; cursor:default}
.serveFacebook-fill_active:hover {background:#7C8ECA; cursor:default}
.serveFacebook-fill_active:active {background:#7C8ECA; cursor:default}
.serveFacebook-fill_active h1 {cursor:default}

.serveLoading {display:block; position:absolute; width:24px; height:24px; padding-left:26px; padding-right:0px; padding-top:7px; padding-bottom:7px; margin-top:-19px; margin-bottom:0px; margin-left:0px; margin-right:0px; border:none; cursor:default; top:50%; right:4px}
