{% extends "_base.html" %}

{% block title %}
	<title>Promova seu portfólio, aumente a visibilidade do seu trabalho e conquiste mais clientes - Ek Foto</title>
{% endblock %}

{% block content %}
	<div id="slogan-text" class="span8 shadow round">
		<div class="headline-landing">
			<center><span>Promova</span> seu portfólio, aumente a <br> <span>visibilidade</span> de seu trabalho <br>e <span>conquiste</span> novos clientes.</center>
		</div>
		<div id="facebook-button">
			<center>			
			<a id="btn-login-facebook" class="facebook-login-button serveFacebook" href="https://www.facebook.com/dialog/oauth?client_id={{ faceAppId }}&redirect_uri={{ faceRedirectUrl }}&scope=email,user_location&state=landingpage">
				<div id="serveFacebook" class="serveFacebook-fill">
				  <img alt="Servefacebook" src="/images/serveFacebook.png">
				  <h1><b>Conecte-se</b> com <b>Facebook</b></h1>
				</div>
				<img id="Servefacebook_loader" alt="Servefacebook_loader" class="serveLoading serveLoading-Facebook" src="/images/serveFacebook_loader.gif" style="display:none">
			</a>
			</center>
		</div>
	</div>
	<div class="span4"></div>
	
	<div class="row">
		<div class="fb-like-landing fb-like-index fb-like" data-href="https://www.facebook.com/ekfoto.co" data-send="true" data-width="650" data-show-faces="false"></div>
		<div class="arrow">
			<img src="/images/arrow.png" />
		</div>
	</div>
	
	<div class="row separator-landing">
		<div class="span12"><center>*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *</center></div>
	</div>
	
	<div class="row">
		<div class="span12"><center><h1><span class="second-headline">Conheça o Ek Foto para Fotógrafos</span></h1></center></div>
	</div>
	
	<div class="steps row-fluid">
		<div class="span4">
			<div class="row-fluid">
				<div class="step1 span4"></div>
				<h3 class="orange span8">1. Promova seu <br>Trabalho</h3>
			</div>
			<div class="text-justify">Divulgue de forma simples e rápida suas áreas de atuação, portfolio e outras informações que achar importante.</div>
		</div>
		<div class="span4">		
			<div class="row-fluid">
				<div class="step2 span4"></div>	
				<h3 class="pink span8">2. Saiba quem precisa de você</h3>
			</div>
			<div class="text-justify">Com base no seu perfil, nós selecionamos para você potenciais clientes. Agora você entra em contato e conversa sobre os detalhes.</div>
		</div>
		<div class="span4">
			<div class="row-fluid">
				<div class="step3 span4"></div>
				<h3 class="blue span8">3. Alcance novos <br>Clientes</h3>
			</div>
			<div class="text-justify">Estando fotógrafo e cliente felizes, negócio fechado!</div>
		</div>	
	</div>
	
{% endblock %}

{% block extrascripts %}
{% endblock %}
