{% extends "_base.html" %}

{% block title %}
	<title>Ek Foto</title>
{% endblock %}

{% block content %}
<div class="main-home row">
	<div class="span5">
		<h3>Prototype</h3>
		<ul>
			<li>
				<a href="/images/prototype-home-en.png" target="_blank">Home</a><br>
				<div style="align: justify"><i>Home Page promoting premium advertisers and filter option at the top of the page, allowing users to search for photographers by region and by type of photography.</i></div><br><br>
			</li>
			<li>
				<a href="/images/prototype-filter-en.png" target="_blank">Photographers list</a><br>
				<div style="align: justify"><i>List of photographers by region and type of photo. That page promotes the premium members on top of the list.</i></div><br><br>
			</li>
			<li>
				<a href="/images/prototype-profile-en.png" target="_blank">Photographer profile</a><br>
				<div style="align: justify"><i>Profile page of the photographer, displaying important info, contact button and showing off his portfolio. In some scenarios we show users a link to our partners.</i></div><br><br>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block extrascripts %}
{% endblock %}
